<div class="l-list-top-title">
	<div class="l-list-top">
		<div class="l-list-title{{listNumber}}"></div>
	</div>
	<div class="l-list-top-bg"></div>
</div>
<div class="l-list">
	<div id="c-list-{{listNumber}}">
		<div class="l-list-mid-5">
			<ul>
				{{#list}}
				<li class="{{className}}" id="{{id}}">
					<input type="radio" value="{{id}}" name="{{className}}" style="display: none;">
					<label> {{name}} </label>
				</li>
				{{/list}}
			</ul>
		</div>
		<div class="l-list-bottom"></div>
	</div>
</div>