@font-face{
	font-family:NG;
	src:url(NanumGothic.eot);
	src:local(※),url(NanumGothic.woff) format('woff')
}
@font-face{
	font-family:NGE;
	src:url(NGE.eot);
	src:local(※),url(NGE.woff) format('woff')
}
html {
	overflow-y: hidden; 
}
body {
	overflow-y: auto; 
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
#wrap {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding: 0;
	background: url("../images/kostat_bg.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100% 100%;
	text-align: center;
}
#header {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 74px;
	margin-bottom: 5px;
	background: #fff;
}
#side {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 320px;
	min-height: 600px;
	vertical-align: top;
	background: transparent;
}
#main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* display: inline-block; */
	position: relative;
	/* width: 75%; */
	/* min-height: 600px; */
	margin-left: 320px;
	margin-right: 10px;
	vertical-align: top;
	border: 1px solid #ccc;
	background: #fff;
}
#footer {
	height: 45px;
}
.l-header-content {
	width: 100%;
	height: 70px;
}
.l-header-border {
	width: 100%;
	height: 4px;
	background: url("../images/header-l-header-border.png") repeat-x;
}
.l-title {
	float: left;
	margin-left: 40px;
	width: 211px;
	height: 50px;
}
.c-logo {
	width: 211px;
	height: 50px;
	margin: 10px auto;
	background: url("../images/header-c-logo.png") no-repeat;
}
.l-logout {
	float: right;
	margin-top: 18px;
	margin-right: 40px;
	width: 100px;
	height: 74px;
}
.c-logout {
	width: 88px;
	height: 33px;
	background: url("../images/header-c-logout.png") no-repeat;
	cursor: pointer;
}
.l-side {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 0 10px 0 10px;
	display: inline-block;
	vertical-align: top;
}
#l-side-selector {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: auto;
	padding: 5px;
	border: 1px solid #ccc;
	background: #fff;
}
.l-side-selector-inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 5px;
}
.c-keyword-set {
	width: 100%;
}
.c-keyword-set .ui-button-text {
	font-family: "NanumGothic", 나눔고딕, NG, NGE;
	font-size: 0.8em;
}
.l-list {
	border: 1px solid #ccc;
	position: relative;
}
.l-list-top-title {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	border: 1px solid #ccc !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.l-list-top {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	height: 40px;
	position: absolute;
	background: url("../images/side-l-list-top.png") no-repeat;
	z-index: 999;
	border-width: 0 0 1px 0;
    border-color: #ccc;
    border-style: solid;
}
.l-list-top .l-list-title1 {
	width: 69px;
	height: 18px;
	margin-top: 10px;
	margin-left: 6px;
	background: url(../images/side-l-list-title.png) 0 0 no-repeat;
}
.l-list-top .l-list-title2 {
	width: 69px;
	height: 18px;
	margin-top: 10px;
	margin-left: 6px;
	background: url(../images/side-l-list-title.png) 0 -36px no-repeat;
}
.l-list-top .l-list-title3 {
	width: 69px;
	height: 18px;
	margin-top: 10px;
	margin-left: 6px;
	background: url(../images/side-l-list-title.png) 0 -18px no-repeat;
}
.l-list-top-bg {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width: 100%;
	height: 40px;
	position: relative;
	background: url("../images/side-l-list-top-bg.png") 0 center repeat-x;
}
.l-list .l-list-mid-5 {
	height: 180px;
}
.l-list .l-list-mid-10 {
	height: 300px;
}
.l-list ul {
	padding: 0;
	margin: 0;
	width: 100%;
}
.l-list ul li {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    text-align: center;
    text-decoration: none;
    font-family: "NanumGothic", 나눔고딕, NG, NGE, "Malgun Gothic";
    font-size: 0.8em;
    text-align: left;
    line-height: 30px;
    color: #555;
    background: #fefefe;
    border-width: 0 0 1px 0;
    border-color: #ddd;
    border-style: solid;
    cursor: pointer;
}
.l-list ul li:hover {
	font-weight: bold;
	color: #fff;
	background: #ccc;
	cursor: pointer;
}
.l-list ul li.selected {
	font-weight: bold;
    color: #fff;
    background: #7dbae7;
	background: #ffb001;
	background: -webkit-gradient(linear,left top,left bottom,from(#ffb001),to(#ff8400));
	background: -moz-linear-gradient(top,#ffb001,#ff8400);
	-webkit-box-shadow: inset 0 0 6px #e42b00;
	-moz-box-shadow: inset 0 0 6px #e42b00;
	box-shadow: inset 0 0 6px #e42b00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb001', endColorstr='#ff8400');
}
.l-list ul li label {
	cursor: pointer;
}
.l-list-bottom {
	width: 100%;
	height: 25px;
	background: url("../images/side-l-list-bottom.png") repeat-x;
}
.l-selector {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	background: #fff;
	padding: 5px;
}
.l-selector-inner {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 100%;
	height: 50px;
	padding: 5px;
}
.l-main-inner {
	border: 1px solid #ccc;
	background: #fff;
}
.l-chart {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	/* height: 590px; */
	padding: 5px;
}
.l-chart-inner {
	/* -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #ccc;
	width: 100%;
	height: 580px;
	padding: 5px; */
}
.l-chart .placeholder {
	width: 100%;
	height: 100%;
	position: absolute;
	background: url("../images/main-c-placeholder.png") center center no-repeat #ffffff;
	display: block;
	z-index: 999;
	margin: -5px;
}
.l-chart .l-chart-title {
	width: 204px;
	height: 32px;
	padding: 4px;
	line-height: 32px;
	background: url("../images/main-l-chart-title.png") no-repeat;
	position: absolute;
    z-index: 99;
}
.l-chart .l-chart-title-bg {
	-moz-box-sizing: border-box;
    background: url("../images/side-l-list-top-bg.png") repeat-x scroll 0 center transparent;
    height: 40px;
    position: relative;
    width: 100%;
} 
.l-chart .l-chart-title div {
	font-family: "NanumGothic", 나눔고딕, NGE, "Malgun Gothic";
	font-size: 14pt;
	color: #555;
	text-align: left;
}
.l-chart .chart {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	background: #fff;
	border: 2px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 4px;
	min-height: 185px;
}
.l-chart .chart:hover {
	border: 2px solid #FF8400;
}
.iframe {
	padding: 0;
	overflow: hidden;
}
.hasDatepicker {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	background: url("../images/main-datepicker-bg.png") center center no-repeat;
}
.c-date-from-text, .c-date-to-text {
	height: 15px;
	display: inline-block;
	vertical-align: bottom;
}
.c-date-from-text { width: 46px; margin-right: 10px; background: url("../images/main-c-date-from.png") no-repeat; }
.c-date-to-text { width: 26px; margin-right: 10px; background: url("../images/main-c-date-to.png") no-repeat; }
.c-date-from, .c-date-to {
	width: 120px;
	height: 28px;
	font-family: "NanumGothic", 나눔고딕, NG, NGE;
	font-size: 0.88em;
	color: #555;
	line-height: 26px;
	padding-left: 4px;
	cursor: pointer;
}
.c-date-from .ui-spinner-button, .c-date-to .ui-spinner-button {
	background: red !important;
}
.c-display-selected {
	width: auto;
	min-width: 100px;
	height: 60px;
	float: left;
}
.l-search-box {
	widtlh: auto;
	height: 50px;
	float: right;
}
#c-search-box {
	width: 240px;
	height: 24px;
	margin: 2px 10px;
	padding: 4px;
	border: 2px solid #777;
	font-family: "NanumGothic", 나눔고딕, NG, NGE;
	font-size: 0.8em;
	color: #555;
	line-height: 24px;
}
#c-search-box:FOCUS {
	border: 2px solid #ff8400;
}
.l-search-box label {
	font-family: "NanumGothic", 나눔고딕, NG, NGE;
	font-size: 0.75em;
	color: #555;
}
.c-display-selected div {
	font-family: "NanumGothic", 나눔고딕, NG, NGE, "Malgun Gothic";
	font-size: 0.75em;
	color: #555;
	text-align: center;
	line-height: 36px;
	display: inline-block;
}
.c-display-selected-1 {
	width: 110px;
	height: 36px;
	margin-left: 2px;
	display: inline-block;
	background: url("../images/main-c-display-selected-1.png") no-repeat;
}
.c-display-selected-2, .c-display-selected-3 {
	width: 130px;
	height: 36px;
	margin-left: -28px;
	display: inline-block;
	background: url("../images/main-c-display-selected-2.png") no-repeat;
}
.c-date-picker-text {
	float: left;
    font-family: "NanumGothic", 나눔고딕, NG;
    font-size: 0.8em;
    font-weight: bold;
    height: 40px;
    line-height: 44px;
    margin-left: 6px;
}
.c-date-picker {
	width: 100%;
	padding: 4px 0;
	margin: 4px auto 0 auto;
	text-align: right;
	font-size: 0.8em;
	color: #555;
}
.c-search {
	width: 170px;
	height: 60px;
	float: right;
	text-align: right;
}
.c-search-button {
	width: 113px;
	height: 38px;
	display: inline-block;
	background: url("../images/main-c-search-button.png") no-repeat;
	cursor: pointer;
}
.c-search-button {
	display: inline-block;
}
#c-logo-kostat {
	width: 116px;
	height: 40px;
	float: right;
	margin-top: 4px;
	margin-right: 10px;
	background: url("../images/footer-c-logo-kostat.png") no-repeat;
}
#c-logo-ibm {
	width: 100px;
	height: 40px;
	float: right;
	margin-top: 4px;
	margin-right: 10px;
	background: url("../images/footer-c-logo-ibm.png") no-repeat;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	border: none;
}
.ui-buttonset {
	
}
.ui-buttonset .ui-button {
	width: 32%;
	font-size: 1em;
}
.ui-accordion .ui-accordion-icons {
	padding: 0 !important;
}
.ui-accordion .ui-accordion-content {
	padding: 0 !important;
}
#ui-datepicker-div {
	width: 174px;
	border: 1px solid #ccc;
	border-radius: 0;
	padding: 2px;
	background: #fff;
	position: absolute;
	z-index: 9999 !important;
	font-size: 0.8em;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	background: -webkit-gradient(linear,left top,left bottom,from(#ffb001),to(#ff8400));
	background: -moz-linear-gradient(top,#ffb001,#ff8400);
	-webkit-box-shadow: inset 0 0 6px #e42b00;
	-moz-box-shadow: inset 0 0 6px #e42b00;
	box-shadow: inset 0 0 6px #e42b00;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb001', endColorstr='#ff8400');
}
